.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #d3d3f0;
  --primary-color: #32df32;
  --inverted-primary-color: #248df0;
  --secondary-color: #78ff78;
  --inverted-secondary-color: #63aff7;
}
